@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:#5372f0;
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}

.container {
    width: 690px;
    background-color: #fff;
    border-radius: 7px;
    padding: 30px;
}

.wrapper {
    border-radius: 5px;
    border: 1px solid #bbb;
}

.wrapper .text-input {
    display: flex;
    border-bottom: 1px solid #bbb;
}

.text-input .to-text {
    border-radius: 0px;
    border-left: 1px solid #bbb;
}

.text-input textarea {
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;
    resize: none;
}

.controls, li, .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    list-style: none;
    padding: 9px 15px;
}

.controls .row.from .icons{
    border-right: 1px solid #bbb;
    padding-right: 15px;
}

.controls .row.to .icons{
    border-left: 1px solid #bbb;
    padding-left: 15px;
}


.controls .icons {
    width: 38%;
}

.controls .icons i {
    color: #9f9f9f;
    font-size: 16px;
    cursor: pointer;
    width: 50px;
    justify-content: center;
}

.controls .row select {
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
}

.controls .row select option {
    font-size: 16px;
}

.controls .exchange {
    font-size: 16px;
    color: #9f9f9f;
    cursor: pointer;
}

.container button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    background-color: #5375f0;
    color: #fff;
    cursor: pointer;
}

.container button:hover {
    opacity: .9;
}

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast + .toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__description {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

textarea::-webkit-scrollbar, select::-webkit-scrollbar {
    width: 5px;
    /* height: 8px; */
    background-color: #aaa; /* or add it to the track */
}

/* Add a thumb */
textarea::-webkit-scrollbar-thumb , select::-webkit-scrollbar-thumb {
    background: #000;
    background: rgba(0, 0, 0, 0.3);
}

